:root {
  --primary-background-color: #ffffff;
  --hero-gackground-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --logo-secondary-color: #000000;
  --accent-color: #2196f3;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

/* logo */
.logo-blue {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  outline: none;
  text-decoration: none;
}
.logo-black {
  font-family: 'Raleway', sans-serif;
  color: var(--logo-secondary-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  color: var(--tertiary-text-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* nav links */

.site-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  /* list-style-type: none; */
}
.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  /* text-decoration: none; */
}

.current {
  color: var(--accent-color);
}

.site-nav-item :hover,
.site-nav-item :focus {
  color: var(--accent-color);
}

.contacts-item {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link {
  color: var(--secondary-text-color);
}

.contacts-item :hover,
.contacts-item :focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background: var(--hero-gackground-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}

.hero-button {
  font-size: 16px;
  line-height: 1.87;
  color: var(--tertiary-text-color);
  background: var(--accent-color);
  cursor: pointer;
}

/* benefits */

.benefits-list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.benefits-description {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* What we do */

.work {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.work-list {
}

/* our team */

.our-team-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.our-team-item {
}

.our-team-name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.our-team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* WebStudio's progects */

.filter {
}

.filter-button {
  background-color: var(--button-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

.projects-group {
}

.progect-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* footer */

.footer {
  background: var(--footer-background-color);
}

.contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

.physical-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

.physical-address:hover,
.physical-address:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}
